<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>Welcome to Todo List App!</h1>
    <p>An app for organization and having all your tasks in one app.</p>
    <h2>Your Todo List</h2>
  <ul>
    <% todo.forEach(todo => { %>
      <li>
          <p>Task: <%= todo.name %></p>
          <p>Date: <%= todo.date %></p>
          <p>Notes: <%= todo.notes %></p>
          <p>Completed? : <%= todo.isFinished %></p>
      </li>



    <% }); %>
  </ul>
<a href="/todos">Your Tasks</a>
<a href="/todos/new">Add New Task</a>


    <ul>
        <% todos.forEach(todo => { %>
          <li>
            <a href="/todos/<%= todo._id %>"> <%= todo.name %></a>
            
        </li>
        <% }); %>
      </ul>
<a href="/todos">Your Tasks</a>


  </body>
</html>

