<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Todo Edit Page</title>
  </head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Update <%= todo.name %></h1>
    <form action="/users/<%= user._id %>/todos/<%= todo._id %>?_method=PUT"
    method="POST">     
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= todo.name %>"/>
  
        <label for="date">Date:</label>
        <input type="text" name="date" id="date">

        <label for="note">Notes:</label>
        <input type="text" name="notes" id="notes">

        <label for="isFinished">Completed?</label>
        <input type="checkbox" name="isFinished" <% if (todo.isFinished) { %>checked<% } %> >

      <button type="submit">Update Task</button>
    </form>
    <a href="/users/:userId/todos">Back to Tasks</a>
  </body>
  