<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Todo App</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to Todo List App!</h1>

    <p>An app for organization and having all your tasks in one app.</p>
      <h2>Your Current Tasks</h2>
            <a href="/users/<%= currentUser._id %>/todos/new">Add New task</a>
            <% todos.forEach(todo =>{ %>
              <li>
                <a href="/users/<%= currentUser._id %>/todos/<%=todo._id %>">
                <%= todo.name %> </a>
                  <ul>Date: <%= todo.date %></ul>
                  <ul>Notes: <%= todo.notes %></ul>
                  <ul>Completed? <%= todo.isFinished %></ul>
              </li>
            <% }) %> 
    </body>
  </html>

  </body>
</html>
