<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App Show Page</title>
  </head>
  <body>
    <a href="/todos/">Back to My Tasks</a>
    <h1><%= todo.name %></h1>
    <p>Date: <%= todo.date %></p>
    <p>Notes: <%= todo.notes %></p>
    <% if (todo.isFinished) { %>
        <p>This task is completed!</p>
      <% } else { %>
        <p>This task is not completed!</p>
      <% } %>

    <form action="/todos/<%=todo._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= todo.name %></button>
        <a href="/todos/<%= todo._id %>/edit">Edit <%= todo.name %></a>
        <a href="/todos">Back to Tasks</a>
    </form>
   
  </body>
</html>